name: Build, Test & Check

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [master]

jobs:
  build:
    name: Build Project with Gradle
    runs-on: [self-hosted, Linux, X64]
    timeout-minutes: 5
    steps:
      - name: Checkout Project Sources
        id: checkout-project-sources
        uses: actions/checkout@v5
      - name: Setup Java as Corretto 25
        id: setup-java-corretto-25
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: 'corretto'
      - name: Setup Gradle Build Action
        id: action-setup-gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: '9.2.0'
      - name: Run Gradle Build Command
        id: run-gradle-build-cmd
        run: ./gradlew build --exclude-task test --exclude-task check --exclude-task cleanIdea --exclude-task ideaModule

  test:
    name: Test Project with Gradle
    needs: build
    runs-on: [self-hosted, Linux, X64]
    timeout-minutes: 5
    steps:
      - name: Checkout Project Sources
        id: checkout-project-sources
        uses: actions/checkout@v5
      - name: Setup Java as Corretto 25
        id: setup-java-corretto-25
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: 'corretto'
      - name: Setup Gradle Build Action
        id: action-setup-gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: '9.2.0'
      - name: Run Gradle Test Command
        id: run-gradle-test-cmd
        run: ./gradlew test --exclude-task check --exclude-task cleanIdea --exclude-task ideaModule
      - name: Run Gradle Sonar Command
        id: run-gradle-sonar-cmd
        run: ./gradlew sonar --exclude-task cleanIdea --exclude-task ideaModule
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  quality-check:
    name: Checks Project's Quality with Gradle
    needs: test
    runs-on: [self-hosted, Linux, X64]
    timeout-minutes: 5
    steps:
      - name: Checkout Project Sources
        id: checkout-project-sources
        uses: actions/checkout@v5
      - name: Setup Java as Corretto 25
        id: setup-java-corretto-25
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: 'corretto'
      - name: Setup Gradle Build Action
        id: action-setup-gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: '9.2.0'
      - name: Run Gradle Check Command
        id: run-gradle-check-cmd
        run: ./gradlew check --exclude-task test --exclude-task cleanIdea --exclude-task ideaModule
      - name: Upload HTML Reports as Artifacts
        id: upload-html-reports-artifacts
        uses: actions/upload-artifact@v5
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          name: quality-reports-artifacts
          path: |
            build/reports/checkstyle/*.html
            build/reports/dependency-check-report.html
            build/reports/jacoco/test/html/*
